body{
margin: none;
font-family: 'Roboto Slab';
background-color: #00bcd4;
}
.container{
/* background-color: green; */
width: 90%;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
flex-direction: column;
}

/* Header and Search */
header{
padding-top: 30px;
font: 'Roboto Slab', bold;
font-size: 24px;
color: white;
margin-left: auto; margin-right: auto;
text-align: center;
}
.addCity{
width: 500px;
background-color: white;
display: flex;
align-items: center;
text-align: left;
}
.inputCity{
margin-left: 10px;
width: 93%;
text-decoration: none;
border: none;
font-size: 16px;
color: #00bcd4;
grid-area: inputCity;
}
.inputCity::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #00bcd4;
font-size: 16px;
}
.inputCity::-moz-placeholder { /* Firefox 19+ */
color: #00bcd4;
font-size: 16px;
}
.inputCity:-ms-input-placeholder { /* IE 10+ */
color: #00bcd4;
font-size: 16px;
}
.inputCity:-moz-placeholder { /* Firefox 18- */
color: #00bcd4;
font-size: 16px;
}

button{
  width: 70px;
  height: 100%;
  background-color: #00bcd4;
  text-align: center;
  font-size: 42px;
  border: 2px solid white;
  color: white;
  grid-area: button;
}
@media (max-width: 900px){
.addCity{
display: grid;
grid-template-columns: 1fr ;
grid-template-rows: 50% 50%;
grid-template-areas:
"inputCity"
"button";
}
button{
  width: 100%;
}
}
/* Daybox */
.dayBox{
width: 1000px;
height: 400px;
background-color: white;
margin-top: 50px;
margin-left: auto; margin-right: auto;
display: grid;
grid-template-columns: 25% 1fr 1fr ;
grid-template-rows: 10% 60% 30%;
grid-template-areas:
"dayName dayName dayName"
"dayInfo dayGraph dayGraph"
"dayInfo nextDays nextDays";
}
.dayName{
  background-color: green;
  grid-area: dayName;
}
.dayInfo{
  background-color: blue;
  grid-area: dayInfo;
  display: grid;
  grid-template-rows: 10% 20% 40%
}
    .todayName{

    }
    .
.dayGraph{
  background-color: yellow;
  grid-area:  dayGraph;
}
.nextDays{
  background-color: red;
  grid-area:  nextDays;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nextDays > div{
  border: 5px solid blue;
}



@media (max-width: 900px){
#container{
  width: 100%;
}
.dayBox{
  margin: none;
  width: 100%;
  height: 600px;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 30% 40% 20%;
  grid-template-areas:
  "dayName"
  "dayInfo"
  "dayGraph"
  "nextDays";
}
.dayBox:active{
  width: 100%;
  height: 650px;
}
}
